@model MVC.Models.Tombstone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tombstone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewTombstoneId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewTombstoneId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickerIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickerIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestNewMusic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestNewMusic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestNewReissue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestNewReissue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
